# Environment variables
.env
.env.local
.env.*.local

# Dependency directories
node_modules/
dist/
build/

# IDE/editor configurations
.vscode/
.idea/
*.iml

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Git directory
.git/